.app-container {
    height: inherit;
    width: inherit;
    .button-container {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .MuiButton-contained-12 {
            background-color: $button-color;
            color: $button-fc;
        }
    }
}