.app-container {
    height: inherit;
    width: inherit;
    .button-container {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}