.camera-container {
    display: flex;
    flex-direction: column;
    height: inherit; 
    width: inherit;
    h2 {
        margin-left: $margin-left;
        color: $heading-color;
    }
    p {
        margin-left: $margin-left;
    }
    button, a {
        background-color: $button-bc;
        color: $button-fc;
    }
    .bottom-buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1;
    }
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}