.photoviewer {
    img {
        max-width: 100%;
    }
    .captured-photo {
        height: 90%;
        width: 90%;
    }
    .photo-display {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}