@import './components/photoviewer.scss';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
  }

  #root {
    height: inherit;
    width: inherit;
  }

  div {
  
  }